.all-order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-weight: 600;
}

.all-order-item:not(:last-child) {
  border-bottom: 1px solid #777777;
  margin-bottom: 10px;
}

.all-order-item > * {
  display: block;
  /* background-color: chocolate; */
  width: 20%;
}
.all-order-item > *:not(:last-child) {
  margin-right: 10px;
}

.all-order-item h5 {
  min-width: 25%;
  text-align: left;
}

.react-switch {
  width: max-content;
}
.btn-switch {
  background-color: transparent;
  border: none;
  width: max-content;
}

/* -------------------------------------------------------------------------- */
/*                              SHORT MEDIA QUERY                             */
/* -------------------------------------------------------------------------- */
@media (max-width: 668px) {
  .all-order-item {
    padding: 1rem;
    display: block;
    text-align: center;
  }

  .all-order-item:not(:last-child) {
    border-bottom: 1px solid #777777;
    margin: 0;
  }

  .all-order-item > * {
    text-align: center;
    display: block;
    margin: 10px auto 15px;
    /* background-color: chocolate; */
    width: 100%;
  }
  .all-order-item > *:not(:last-child) {
    margin-right: 0;
  }

  .all-order-item h5 {
    width: 100%;
    text-align: center;
  }
}
