.tours {
  padding: 2rem 6rem 6rem;
  background-image: url(../../assets/images/others/h1-background-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.spinner-box {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------------------------------------------------------------------------- */
/*                              SHORT MEDIA QUERY                             */
/* -------------------------------------------------------------------------- */
@media (max-width: 668px) {
  .tours {
    padding: 1rem 0;
  }
}
