.add-new-tour form {
  margin-top: 2rem;
  min-height: 80%;
  text-align: left;
}
.add-new-tour form label {
  color: #000 !important;
}

.add-new-tour form input,
.add-new-tour form select,
.add-new-tour form textarea {
  display: block;
  margin: 5px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.65);
}

.add-new-tour form small {
  font-weight: 600;
  color: #fc5b62;
}
/* -------------------------------------------------------------------------- */
/*                              SHORT MEDIA QUERY                             */
/* -------------------------------------------------------------------------- */
@media (max-width: 668px) {
  .add-new-tour form {
    margin-top: 1rem;
  }
}
